*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calc{
    display: inline-block;
    margin: 50px;
}
.output{
    height: 8em;
    border: 1px solid grey;
    position: relative;
}
.output span{
    position: absolute;
    right: .2em;
    bottom: .2em;
    font-size: 30px;
}

.row button{
    width: 6em;
    height: 6em;
    cursor: pointer;
}
.row button.text-Clear{
    width: 18em;
}
.row button.text-0{
    width: 12em;
}